{% macro ok(opts) %}{{'{{form.' + opts.id + '}}'}}{% endmacro %}

{% macro getElement(opts) %}
    {% if opts.type === 'text' %}
        <div class="form-group">
            <label for="{{opts.id}}">{{opts.label}}</label>
            <input type="text" 
                name="{{opts.id}}"
                value="{{ ok(opts) }}"
                class="form-control" id="{{opts.id}}" aria-describedby="{{opts.id}}-help" placeholder="{{opts.placeholder}}" />
            {% if opts.helpText %}<small id="{{opts.id}}-help" class="form-text text-muted">{{opts.helpText}}</small>{% endif %}
        </div>
    {% elif opts.type === 'select' %}
        <div class="form-group">
            <label for="{{opts.id}}">{{opts.label}}</label>
            <select class="form-control" id="{{opts.id}}">
                {% for option in opts.options %}
                    <option value="{{option.value}}" {% if option.value === opts.value %}selected{% endif %}>{{option.label}}</option>
                {% endfor %}
            </select>
            {% if opts.helpText %}<small id="{{opts.id}}-help" class="form-text text-muted">{{opts.helpText}}</small>{% endif %}
        </div>
    {% elif opts.type === 'checkbox' %}
        {% for option in opts.options %}
            <div class="form-check">
                <input 
                    class="form-check-input" 
                    type="checkbox" value="{{option.value}}" id="{{opts.id}}{{loop.index}}"
                    {% if option.value === opts.value %}checked{% endif %}>
                <label class="form-check-label" for="{{opts.id}}{{loop.index}}">
                    {{option.label}}
                </label>
            </div>
        {% endfor %}
    {% elif opts.type === 'radio' %}
        {% for option in opts.options %}
            <div class="form-check">
                <input
                    class="form-check-input"
                    type="radio" value="{{option.value}}" id="{{opts.id}}{{loop.index}}"
                    {% if option.value === opts.value %}checked{% endif %}>
                <label class="form-check-label" for="{{opts.id}}{{loop.index}}">
                    {{option.label}}
                </label>
            </div>
        {% endfor %}
    {% endif %}
{% endmacro %}